html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  /* font-family: Arial, Verdana, sans-serif; */

  background: #E5E5E5;
}


/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;

  background-color: transparent;
}

.flex {
  display: flex;
}

.site-container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.title {
  margin-bottom: 20px;

  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;

  color: #333333;
}

p {
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;

  color: #000000;
}


/* header */
.header-top {
  align-items: center;

  padding: 30px 0;
}

.header-logo-phone {
  align-items: center;
}

.header-logo-phone {
  margin-right: auto;
}

.header-logo {
  margin-right: 40px;
}

.header-nav-button {
  justify-content: space-between;

  padding: 14px 45px;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-list-item:last-child {
  margin-right: 56px;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}


/* special-offers */
.special-offers-info-group {
  outline: 1px solid green;
}

.special-offers-info-article {
  outline: 1px solid red;
}
