html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;

  background: #E5E5E5;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}


/* Header */

.header-top a {
  display: inline-block;
  vertical-align: middle;
}

/* End Header */
