html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

h1,
h2,
h3,
figure {
  margin: 0;
}

.text {
  margin: 0 0 40px;
  width: 872px;
}

.title {
  margin-bottom: 40px;
}

.subtitle-h2,
.subtitle-h3 {
  margin-bottom: 10px;
}

.gray-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}

.gray-block:not(:last-child) {
  margin-bottom: 40px;
}

.gray-block .text {
  width: 692px;
  margin-bottom: 10px;
}

.list {
  padding-left: 15px;
}

.list li:not(:last-child) {
  margin-bottom: 20px;
}

img:not(.img-in-figure) {
  margin-bottom: 40px;
}

figure {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
}
