@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto', Arial, Verdana, sans-serif;

  background: #E5E5E5;
}

h1,
h2,
h3,
ul,
figure {
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.logo img {
  margin-bottom: 0 !important;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background: #3f2aff;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.download {
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url('../img/download.png');
  background-position: left center;
  background-repeat: no-repeat;
}


.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.subtitle-h2 {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.subtitle-h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.text {
  margin: 0 0 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.gray-block {
  border-radius: 20px;
  padding: 30px;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #f3f3f3;


}

.gray-block:not(:last-child) {
  margin-bottom: 40px;
}

.gray-block .text {
  margin-bottom: 10px;
  width: 692px;
}

.list {
  padding-left: 15px;
}

.list li:not(:last-child) {
  margin-bottom: 20px;
}

.list li::marker {
  color: #3f2aff;
}

.list-link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.content {
  background-image: url("../img/decorate-1.png");
}

.result {
  background-image: url("../img/decorate-2.png");
}

img:not(.img-in-figure) {
  margin-bottom: 40px;
}

figure {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

figcaption {
  padding: 19px 0;
  border: 1px solid #b6b6b6;
  border-top: none;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.first-principle {
  padding: 50px 95px;
  border-radius: 20px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background: #3f2aff;
}


/* Modules */
.container-modules {
  padding-top: 50px;
}

img.logo-modules {
  margin-bottom: 25px;
}

.breadcrumbs {
  margin-bottom: 25px;
  padding-left: 52px;

  font-size: 20px;
  line-height: 23px;
  color: #3F2AFF;

  background-image: url('../img/arrow-1.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.title-modules {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 60px;
  line-height: 70px;

  color: #3F2AFF;
}

.modules, .list-module {
  list-style-type: none;
  font-size: 0;
}

.module {
  position: relative;

  display: inline-block;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 205px 0 0 25px;
  width: 572px;
  height: 505px;
  vertical-align: middle;

  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.module:nth-child(2n) {
  margin-right: 0;
}

.module:nth-last-of-type(-n+2) {
  margin-bottom: 50px;
}

.module:nth-child(1) {
  background: url('../img//modules/introduction.jpg') #fff 0 top no-repeat;
}
.module:nth-child(2) {
  background: url('../img//modules/basic-HTML.jpg') #fff 0 top no-repeat;
}
.module:nth-child(3) {
  background: url('../img//modules/basic-CSS.jpg') #fff 0 top no-repeat;
}
.module:nth-child(4) {
  background: url('../img//modules/layout.jpg') #fff 0 top no-repeat;
}

.title-module {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;

  color: #3F2AFF;
}

.list-module {
  font-size: 20px;
  line-height: 165%;

  color: #333333;
}

.number {
  position: absolute;
  right: 25px;
  bottom: 25px;

  font-size: 40px;
  line-height: 47px;

  color: #EAEAEA;
}

.btn-modules {
  display: block;
  margin: 0 auto;
  padding: 24.5px 76.5px;
  border: 2px solid #3F2AFF;
  border-radius: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 21px;

  color: #3F2AFF;

  cursor: pointer;
}
/* End Modules */
