html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background: #3f2aff;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.download {
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url('../img/download.png');
  background-position: left center;
  background-repeat: no-repeat;
}


.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

h1,
h2,
h3,
figure {
  margin: 0;
}

.title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.subtitle-h2 {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.subtitle-h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.text {
  margin: 0 0 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.gray-block {
  border-radius: 20px;
  padding: 30px;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #f3f3f3;


}

.gray-block:not(:last-child) {
  margin-bottom: 40px;
}

.gray-block .text {
  margin-bottom: 10px;
  width: 692px;
}

.list {
  padding-left: 15px;
}

.list li:not(:last-child) {
  margin-bottom: 20px;
}

.list li::marker {
  color: #3f2aff;
}

.list-link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.content {
  background-image: url("../img/decorate-1.png");
}

.result {
  background-image: url("../img/decorate-2.png");
}

img:not(.img-in-figure) {
  margin-bottom: 40px;
}

figure {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

figcaption {
  padding: 19px 0;
  border: 1px solid #b6b6b6;
  border-top: none;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.first-principle {
  padding: 50px 95px;
  border-radius: 20px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background: #3f2aff;
}
